@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Leia sobre <a href="https://magg.sapo.pt/cultura/artigos/afinal-como-e-que-se-joga-mesmo-ao-uno">Regras do jogo UNO</a>.</p>
</div>
